.Country {
  max-width: 320px;
  background-color: white;
  border-radius: 10px;

  img {
    width: 320px;
    height: 170px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
  }
}

.details {
  .title {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    &:hover {
      color: rgb(68, 180, 255);
    }
  }
  margin: 1rem;
  ul {
    list-style-type: none;
    padding: 0;
    li {
      margin: 0.3em 0;
      .counter {
        font-weight: 400;
      }
    }
  }
  span {
    font-weight: 500;
  }
}

@media (max-width: 600px) {
  .Country {
    max-width: 250px;

    img {
      width: 250px;
    }
  }
}
