.grid {
  display: flex;
  width: 80%;
  margin: 6rem auto 0;
  gap: 3rem;
  justify-content: center;
}

.flag {
  img {
    width: 600px;
    height: 400px;
    object-fit: cover;
    border: 1px solid rgba(0, 0, 0, 0.137);
  }
}

.right {
  width: 600px;
  height: 400px;
  .subTitle {
    font-weight: 500;
  }
}
